<h3 class='section-heading'>Option Rendering</h3>
<p>
  Rather than just a simple text string for the options choosen, or the options available you can render your own layouts (using the block format of this component) or use a few built-in defaults.
</p>

<h4>Build-In Renderers</h4>
<p>
  Currently there are two built in renderers that can get you a nicer look and feel right out of the gate. They are:
</p>
<ul>
  <li>sub-heading</li>
  <li>icon-plus</li>
</ul>

<br>
<h4>Bespoke Rendering</h4>
<p>
  The world is your oyster, especially now that Ember has give us <i>contextual components</i> which really open up creativity to do almost anything with the options menu.
</p>
