<div class="container">
  <h1>ui-selectize</h1>
  <h2>The <a href="http://brianreavis.github.io/selectize.js/" target="_new">selectize</a> select/tag form-control wrapped in Ember-CLI love</h2>

{{outlet}}
</div>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
