<h3 class='section-heading'>Bespoke Rendering</h3>
<p class="downer">
  So far we've only demonstrated the <prop>ui-selectize</prop> components as a <i>inline</i> component but it does have a <i>block</i> mode as well. Specifically by openning these components in block mode we can create bespoke templates for <b>items</b> and <b>options</b>.
</p>

<h4>Bespoke Items</h4>
<row>
  <widget class='left'>
    {{ui-tags-input itemRender=item options=things}}

  </widget>
  <code>
    code
  </code>
  <description>
    descriptino
  </description>
</row>